@font-face {
  font-family: 'iconfont';  /* project id 563243 */
  src: url('https://at.alicdn.com/t/font_563243_11n5ausycl8cwhfr.eot');
  src: url('https://at.alicdn.com/t/font_563243_11n5ausycl8cwhfr.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_563243_11n5ausycl8cwhfr.woff') format('woff'),
  url('https://at.alicdn.com/t/font_563243_11n5ausycl8cwhfr.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_563243_11n5ausycl8cwhfr.svg#iconfont') format('svg');
}
body{
	background-color: #FAF5F5;
}
.daohang{
	height: 0.72rem;
	width: 10.8rem;
	background-color: #ccc;
}
.daohang img{
	height: 0.72rem;
	width: 100%;
}
.sousuo{
	width: 10.8rem;
	height: 1.11rem;
	background-color: #FFFEFE;
	position: relative;
}
.sousuo p{
	font-size: 0.56rem;
	font-family: "Microsoft Yahei";
	color: #8C7878;
	text-align: center;
	float: left;
	font: "Microsoft Yahei" ;
	position: absolute;
	top: 0.39rem;
	left: 4.56rem;
} 

.sousuo span{
	font-family: 'iconfont';
	font-size: 0.60rem;
	margin-right: 0.45rem;
	margin-top: 0.42rem;
	float: right;
	color: #645A5A;
}
.head_wenzi{
	width: 10.8rem;
	height: 1.34rem;
	padding-left: 0.4rem;
	padding-top: 0.58rem;
	background-color: #FFFEFE;
}
.head_one{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	margin-right: 0.7rem;
	float: left;
}
.head_two{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	margin-right: 1.04rem;
	float: left;
}
.head_three{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	margin-right: 1.06rem;
	float: left;
}
.head_four{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	/* margin-right: 1.06rem; */
	float: left;
}
.head_wenzi p:hover{
	color: #FF5C6B;
	border-bottom: 0.05rem solid #FF5C6B;
	/* background-color: #FF5C6B; */
}
.banner{
	width: 10.8rem;
	height: 5.7rem;
	/* background-color: pink; */
}
.banner img{
	width: 10.8rem;
	height: 5.7rem;
}
.select{
	width: 10.8rem;
	height: 2.49rem;
	/* background-color: yellow; */
	margin-top: 0.3rem;
}
.select_one{
	width: 3.58rem;
	height: 2.49rem;
	background-color: #FFFFFF;
	float: left;
	position: relative;
}
.yuan{
	width: 0.8rem;
	height: 0.8rem;
	background-color: #FE9F9D;
	margin: 0.52rem 0 0 1.46rem;
	border-radius: 50%;
}
.select_one p{
	font-family: 'iconfont';
	font-size: 0.45rem;
	color: white;
	text-align: center;
	line-height: 0.8rem;
}
.select_two p{
	font-family: 'iconfont';
	font-size: 0.45rem;
	color: white;
	text-align: center;
	line-height: 0.8rem;
}
.select_two{
	width: 3.58rem;
	height: 2.49rem;
	background-color: #FFFFFF;
	margin-left: 0.02rem;
	float: left;
	position: relative;
}
.select_one span{
	font-size: 0.3rem;
	position: absolute;
	top: 1.59rem;
	left: 1.24rem;
	color: #6A6566;
}
.select_two span{
	font-size: 0.3rem;
	position: absolute;
	top: 1.59rem;
	left: 1.24rem;
	color: #6A6566;
}
.beautiful{
	width: 4.89rem;
	height:8.06rem;
	background-color:white;
	margin-top: 0.33rem;
	margin-left: 0.36rem;
	float: left;
	
}
.beautiful_tu{
	width: 4.89rem;
	height:5.11rem;
	/* background-color: yellow; */
}
.beautiful_tu img{
	width: 4.89rem;
	height:5.11rem;
}
.beautiful_wenzi{
	width: 3.97rem;
	height: 2.44rem;
	margin:0.33rem 0.6rem  0.18rem 0.32rem;
	background-color: white;
	position: relative;
}
.beautiful_wenzi span{
	font-size: 0.36rem;
	color: #362323;
	font-family: "Microsoft Yahei";
	margin-top: 0;
	position: absolute;
	top: 0;
	left: 0;
}
.beautiful_wenzi p{
	font-size: 0.42rem;
	color: #A09696;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: 0.71rem;
	left: 0;
}
.beautiful_wenzi i{
	font-size: 0.37rem;
	color: #FF2D47;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: 1.92rem;
	left: 0;
}
.picture{
	width: 9.9rem;
	height: 5.7rem;
	background-color: white;
	margin-top: 0.46rem;
	float: left;
	margin-right:0.45rem;
}
.picture img{
	width: 9.9rem;
	height: 5.7rem;
}
.content{
	width: 9.9rem;
	height: 100%;
	/* background-color: pink; */
	margin-right: 0.45rem;
	padding-right: 0.8rem;
	margin-top: 0.7rem;
	float: left;
}
.content p{
	font-size: 0.55rem;
	color: #503C3C;
	font-family: "Microsoft Yahei";
	letter-spacing: 0.06rem;
}
.content span{
	font-size: 0.38rem;
	letter-spacing: 0.03rem;
	color: #A09696;	
}
.dibulan{
	width: 10.8rem;
	height: 1.42rem;
	float: left;
	padding-top: 0.14rem;
	padding-left: 1.03rem;
	border-top: 1px solid #ccc;
	position: relative;
}
.dibulan_tubiao{
	height: 1.2rem;
	width: 0.65rem;
	background-color: white;
	float: left;
	position: relative;
}
.dibulan_tubiao2{
	height: 1.2rem;
	width: 0.65rem;
	background-color: white;
	margin-left: 2.02rem;
	float: left;
	position: relative;
}
.dibulan_tubiao p,.dibulan_tubiao2 p{
	font-family: 'iconfont'; 
	font-size: 0.65rem;
	color: #FF4258;
	position: absolute;
	top:0;
	left:0;
	float: left;
}

