@font-face {
  font-family: 'iconfont';  /* project id 563243 */
  src: url('https://at.alicdn.com/t/font_563243_i17113ssdjp833di.eot');
  src: url('https://at.alicdn.com/t/font_563243_i17113ssdjp833di.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_563243_i17113ssdjp833di.woff') format('woff'),
  url('https://at.alicdn.com/t/font_563243_i17113ssdjp833di.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_563243_i17113ssdjp833di.svg#iconfont') format('svg');
}
body{
	background-color:white;
}
.daohang{
	height: 0.72rem;
	width: 10.8rem;
	background-color: #ccc;
}
.daohang img{
	height: 0.72rem;
	width: 100%;
}
.sousuo{
	width: 10.8rem;
	height: 1.11rem;
	background-color: #FFFEFE;
	padding-bottom:  0.38rem;
	position: relative;
}
.sousuo p{
	font-size: 0.56rem;
	font-family: "Microsoft Yahei";
	color: #8C7878;
	text-align: center;
	float: left;
	font: "Microsoft Yahei" ;
	position: absolute;
	top: 0.39rem;
	left: 4.56rem;
} 
.sousuo i{
	font-size: 0.56rem;
	font-family: "Microsoft Yahei";
	color: #8C7878;
	text-align: center;
	float: left;
	font: "Microsoft Yahei" ;
	position: absolute;
	top: 0.4rem;
	left: 0;
}
.sousuo span{
	/* font-family: 'iconfont'; */
	font-size: 0.45rem;
	margin-right: 0.45rem;
	margin-top: 0.60rem;
	font: "Microsoft Yahei" ;
	font-weight: bold;
	float: right;
	color:  #8C7878;
}
.head_wenzi{
	width: 10.8rem;
	height: 1.34rem;
	padding-left: 0.4rem;
	padding-top: 0.58rem;
	background-color: #FFFEFE;
}
.head_one{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	margin-right: 0.7rem;
	float: left;
}
.head_two{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	margin-right: 1.04rem;
	float: left;
}
.head_three{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	margin-right: 1.06rem;
	float: left;
}
.head_four{
	font-size: 0.44rem;
	color:#8C7878;
	font-family: "Microsoft Yahei";
	/* margin-right: 1.06rem; */
	float: left;
}
.sousuo span:hover{
	color: #FF5C6B;
	/* border-bottom: 0.05rem solid #FF5C6B; */
	/* background-color: #FF5C6B; */
}
.sousuo i:hover{
	color: #FF5C6B;
	/* border-bottom: 0.05rem solid #FF5C6B; */
	/* background-color: #FF5C6B; */
}
.sousuo p:hover{
	color: #FF5C6B;
	/* border-bottom: 0.05rem solid #FF5C6B; */
	/* background-color: #FF5C6B; */
}
.banner{
	width: 10.8rem;
	height: 5.7rem;
	padding-top: 0.38rem;
	background-color:white;
}
.banner img{
	width: 10.8rem;
	height: 5.7rem;
}
.select{
	width: 10.8rem;
	height: 2.49rem;
	/* background-color: yellow; */
	margin-top: 0.3rem;
}
.select_one{
	width: 3.58rem;
	height: 2.49rem;
	background-color: #FFFFFF;
	float: left;
	position: relative;
}
.yuan{
	width: 0.8rem;
	height: 0.8rem;
	background-color: #FE9F9D;
	margin: 0.52rem 0 0 1.46rem;
	border-radius: 50%;
}
.select_one p{
	font-family: 'iconfont';
	font-size: 0.45rem;
	color: white;
	text-align: center;
	line-height: 0.8rem;
}
.select_two p{
	font-family: 'iconfont';
	font-size: 0.45rem;
	color: white;
	text-align: center;
	line-height: 0.8rem;
}
.select_two{
	width: 3.58rem;
	height: 2.49rem;
	background-color: #FFFFFF;
	margin-left: 0.02rem;
	float: left;
	position: relative;
}
.select_one span{
	font-size: 0.3rem;
	position: absolute;
	top: 1.59rem;
	left: 1.24rem;
	color: #6A6566;
}
.select_two span{
	font-size: 0.3rem;
	position: absolute;
	top: 1.59rem;
	left: 1.24rem;
	color: #6A6566;
}
.beautiful{
	width: 9.5rem;
	/* height:7.53rem; */
	background-color:white;
	margin-top: 0.96rem;
	margin-left: 0.68rem;
	float: left;	
}
.beautifulya{
	width: 9.5rem;
	/* height: 1.93rem; */
	/* background-color: yellow; */
}
.jiage{
	width: 9.5rem;
	height:2rem;
	/* background-color: pink; */
}
.jiage_left{
	width: 2.59rem;
	height: 1.48rem;
/* 	background-color: yellow; */
	float: left;
}
.jiage_left p{
	font-size: 0.5rem;
	color: #FF2D47;
	width: 100%;
	height: 0.5rem;
}
.jiage_left span{
	font-size: 0.37rem;
	color: #503C3C;
	width: 2.59rem;
	height: 0.37rem;
/* 	margin-bottom:  0.3rem; */
}
.jiage_right{
	width: 2.8rem;
	height: 1.27rem;
	margin-top: 0.2rem;
	background-color: white;
	float: right;
	border: 1px solid #FFAAB4;
	border-radius: 0.2rem;
	line-height: 1.27rem;
}
.jiage_right p{
	font-size: 0.5rem;
	font-family:  "Microsoft Yahei";
	color: #FF2D47;
	text-align: center;
	/* line-height: 0.5rem; */
}
.beautifulya1 p{
	font-size: 0.42rem;
	font-family: "Microsoft Yahei";
	color:#503C3C;
	line-height: 0.8rem;
	word-spacing: 0.1rem;
}
.beautifulya1 img{
	width: 9.29rem;
	/* height: 4.7rem; */
	margin-bottom: 0.94rem;
}
.beautifulya1{
	width: 9.5rem;
	/* height: 3.62rem; */
	/* background-color: yellow; */
	margin-top: 1.03rem;
}
.beautifulya p{
	font-size: 0.72rem;
	font-family: "Microsoft Yahei";
	color:#503C3C;
}
.beautiful_xian{
	margin-top: 1.17rem;
	height: 0.01rem;
	width: 1.2rem;
	background-color: #503C3C;
	margin-left: 0.2rem;
}
.picture{
	width: 9.9rem;
	height: 5.7rem;
	background-color: white;
	margin-top: 0.46rem;
	float: left;
	margin-right:0.45rem;
}
.picture img{
	width: 9.9rem;
	height: 5.7rem;
}
.content{
	width: 9.9rem;
	height: 100%;
	/* background-color: pink; */
	margin-right: 0.45rem;
	padding-right: 0.8rem;
	margin-top: 0.7rem;
	float: left;
}
.content p{
	font-size: 0.55rem;
	color: #503C3C;
	font-family: "Microsoft Yahei";
	letter-spacing: 0.06rem;
}
.content span{
	font-size: 0.38rem;
	letter-spacing: 0.03rem;
	color: #A09696;	
}
.dibulan{
	width: 10.8rem;
	height: 1rem;
	float: left;
	padding-top: 0.14rem;
	padding-left: 1.03rem;
	border-top: 1px solid #ccc;
	position: relative;
}
.dibulan_tubiao{
	height: 0.6rem;
	width: 0.65rem;
	background-color: white;
	float: left;
	position: relative;
}
.dibulan_tubiao2{
	height: 1.2rem;
	width: 0.65rem;
	background-color: white;
	margin-left: 2.02rem;
	float: left;
	position: relative;
}
.dibulan_tubiao p,.dibulan_tubiao2 p{
	font-family: 'iconfont'; 
	font-size: 0.65rem;
	color: #FF4258;
	position: absolute;
	top:0;
	left:0;
	float: left;
}
.box{
	height: 17.25rem;
	width: 10.8rem;
	/* background-color: pink; */
}
.box_center{
	width: 8.46rem;
	height: 9.51rem;
	background-color: white;
	margin:0.94rem 1.44rem 2.32rem 1.2rem;
	float: left;
	/* position: relative; */
}
.box_touxiang{
	width: 100%;
	height: 2.95rem;
	/* background-color: yellow; */
	padding: 0.57rem 3.42rem 0 3.24rem;
	position: relative;
}
.box_touxiang span{
	font-family: 'iconfont'; 
	font-size: 1.44rem;
	color: pink;

}
.box_touxiang p{
	font-size: 0.4rem;
	color: #321E1E;
	position: absolute;
	top: 2.5rem;
	left: 3.3rem;
	font-family: "Microsoft Yahei";
}
.number{
	width: 8.46rem;
	height: 1.22rem;
/* 	border-color: pink; */
	margin-top: 0.95rem;
	padding-left: 0.2rem;
	border-radius: 0.2rem;
}
.number2{
	width: 8.46rem;
	height: 1.22rem;
	border-color: pink;
	margin-top: 0.1rem;
	padding-left: 0.2rem;
	border-radius: 0.2rem;
}
.number3{
	width: 8.46rem;
	height: 1.22rem;
	background-color: #ccc;
	border: 0;
	margin-top: 0.9rem;
	padding-left: 0.2rem;
	border-radius: 0.2rem;
	color: white ;
	font-family: "Microsoft Yahei";
	font-size: 0.5rem;

}
.box_center i{
	font-size: 0.45rem;
	color: #FF677A;
	float: right;
	margin-left: 4.64rem;
	margin-top: 0.3rem;
	font-family: "Microsoft Yahei";

}
.box_bottom{
	width: 8.46rem;
	height: 2.39rem;
	/* background-color: yellow; */
	float: left;
	margin: 0 1.44rem 0 1.2rem;
	border-top: 0.01rem solid #ccc;
	position: relative;
}
.box_tubiao{
	width: 6.21rem;
	height: 1.1rem;
	background-color: white;
	margin: 0.84rem 1.13rem 0 1.12rem;
}
.box_tubiao span{
	font-family: 'iconfont'; 
	font-size: 1.1rem;
	color: #645A5A;
	float: left;

}
.box_tubiao p{
	font-family: 'iconfont'; 
	font-size: 1.1rem;
	color: #645A5A;
	margin-left: 1.48rem;
	float: left;
}
.box_tubiao i{
	font-family: 'iconfont'; 
	font-size: 1.1rem;
	color: #645A5A;
	margin-left: 1.4rem;
	float: left;
}
.bottom_wenzi{
	font-size: 0.4rem;
	color: #645A5A;
	font-family: "Microsoft Yahei";
	position: absolute;
	top: -0.6rem;
	left: 2.49rem;

}
.tomorrow{
	width: 100%;
	height: 1.27rem;
	background-color: white;
}
.tomorrow1{
	margin-top: 0.33rem;
	width: 100%;
	height: 1.27rem;
	background-color: white;
}
.tomorrow2{
	margin-top: 0.33rem;
	width: 100%;
	height: 14rem;
	/*background-color: white;*/
}
.tomorrow_left1{
	font-family: 'iconfont'; 
	width: 1.62rem;
	height: 1.27rem;
/*	background-color: yellow;*/
	float: left;
	font-size: 0.63rem;
	color: #FF8434;
	line-height: 1.27rem;
	text-align: center;
}
.tomorrow_left{
	font-family: 'iconfont'; 
	width: 1.62rem;
	height: 1.27rem;
/*	background-color: yellow;*/
	float: left;
	font-size: 0.5rem;
	color: #351E1E;
	line-height: 1.27rem;
	text-align: center;

}
.tomorrow_center{
	width: 2.22rem;
	height: 100%;
	/*background-color: yellow;*/
	margin-left: 2.66rem;
	font-size: 0.5rem;
	line-height: 1.27rem;
	float: left;
	color: #351E1E;
}
.tomorrow_center1{
	width: 3rem;
	height: 100%;
	/*background-color: yellow;*/
	margin-left: 0.2rem;
	font-size: 0.4rem;
	line-height: 1.27rem;
	float: left;
	color: #351E1E;
}
.photo{
	width: 10.8rem;
	height: 2.78rem;
	background-color: white;
	padding-top: 0.72rem;
	padding-left: 0.67rem;
	/*padding-right: 0.73rem;*/
}
.photo_left{
	width: 2.05rem;
	height: 2.05rem;
	/*background-color: white;*/
	border-radius: 50%;
	float: left;
}
.photo_left img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.photo_right{
	width: 2.25rem;
	height: 1.01rem;
	/*background-color: white;*/
	margin-left: 0.99rem;
	margin-top: 0.56rem;
	float: left;

}
.photo_right p,.photo_right1 p{
	font-size: 0.35rem;
	color: #351E1E;
	text-align: center;
	margin-bottom: 0.3rem;
}
.photo_right1{
	width: 2.25rem;
	height: 1.01rem;
	/*background-color: white;*/
	margin-top: 0.56rem;
	float: left;
}
.bike{
	width: 10.8rem;
	height: 2.74rem;
	background-color: white;
	padding:0.82rem 0.56rem 0.71rem 0.88rem;

}
.bike_one{
	width:1.17rem;
	height: 1.21rem;
/*	background-color: pink;*/
	float: left;
}
.bike_top{
	font-family: 'iconfont'; 
	line-height: 0.59rem;
	font-size: 0.48rem;
	text-align: center;
	width: 100%;
	height: 0.59rem;
	/*background-color: blue;*/
	margin-bottom: 0.27rem;
}
.bike_one p,.bike_two p,.bike_two2 p,.bike_two3 p{
    font-size: 0.35rem;
    color: #351E1E;
}
.bike_two{
	width:0.74rem;
	height: 100%;
	/*background-color: pink;*/
	float: left;
	margin-left: 1.69rem;
}
.bike_two2{
	width:0.74rem;
	height: 100%;
	/*background-color: pink;*/
	float: left;
	margin-left: 1.96rem;
}
.bike_two3{
	width: 1.53rem;
	height: 100%;
	/*background-color: pink;*/
	margin-left: 1.5rem;
	float:left;
}
.qingdan{
	border-top: 1px solid #ccc;
	width: 10.8rem;
	height: 8.5rem;
	background-color: white;

}
.adding{
	width: 100%;
	height: 1.1rem;
	/*background-color: blue;*/
	line-height: 1.1rem;

}
.zenjia{
	font-family: 'iconfont';
	font-size: 1.06rem;
	color: #FF4558;
	margin-left: 0.45rem;
}
.xinjian{
	height: 1.1rem;
	font-size: 0.45rem;
	color: #351E1E;
	margin-left: 0.45rem;
	text-align: center;
	margin-bottom: 0.5rem;

}
.pink{
	font-family: 'iconfont';
	width: 	100%; 
	font-size: 2.76rem;
	margin-top: 3.32rem;
	text-align: center;
	float: left;
	color: #FF4258;
}
.black{
	width: 100%;
	text-align: center;
	margin-top: 1.5rem;
	font-size: 0.33rem;
	float: left;
	color: #B3AFAF;
}
.bike a{
	color:#351E1E; 
}